@use './functions/createPalette' as *;

// Important colors
$primary: hsl(4, 82%, 67%);
$secondary: hsl(220, 100%, 80%);
$backgroundColor: hsl(230, 75%, 98%);

// All colors
$blue: hsl(231, 71%, 63%);
$indigo: hsl(269, 97%, 35%);
$purple: hsl(258, 66%, 64%);
$pink: hsl(347, 77%, 80%);
$red: hsl(349, 79%, 48%);
$orange: hsl(41, 100%, 58%);
$yellow: hsl(50, 100%, 50%);
$green: hsl(99, 44%, 61%);
$teal: hsl(189, 87%, 50%);
$cyan: hsl(164, 100%, 58%);

$colors: ();
$colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
  ),
  $colors
);

$palettePrimary: createPalette($primary);
$paletteSecondary: createPalette($secondary);
$paletteBlue: createPalette($blue);
$paletteIndigo: createPalette($indigo);
$palettePurple: createPalette($purple);
$palettePink: createPalette($pink);
$paletteRed: createPalette($red);
$paletteOrange: createPalette($orange);
$paletteYellow: createPalette($yellow);
$paletteGreen: createPalette($green);
$paletteTeal: createPalette($teal);
$paletteCyan: createPalette($cyan);

$palettes: ();
$palettes: map-merge(
  (
    'primary': $palettePrimary,
    'secondary': $paletteSecondary,
    'blue': $paletteBlue,
    'indigo': $paletteIndigo,
    'purple': $palettePurple,
    'pink': $palettePink,
    'red': $paletteRed,
    'orange': $paletteOrange,
    'yellow': $paletteYellow,
    'green': $paletteGreen,
    'teal': $paletteTeal,
    'cyan': $paletteCyan,
  ),
  $palettes
);
