// Convert font-size from px to rem with px fallback
//
// @param $position
// @param $top
// @param $right
// @param $bottom
// @param $left
// @param $z-index
//
// e.g. .element-absolute { @include position(absolute, 60px, 0, 0, 0, z('modal')); }

@mixin position(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $z-index: initial
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
