// Create a generic pseudo element
//
// @param $width
// @param $height
// @param $display
// @param $pos
// @param $content
//
// e.g. &:after { @include pseudoElement(100px, 100px); }

@mixin pseudoElement(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ''
) {
  content: $content;
  display: $display;
  position: $pos;
  width: $width;
  height: $height;
}
