@use './../utilities' as *;

h1{
    position: absolute;
    @include fontSize(500px);
    z-index: z-index(sidebar);
}

.image{
    max-width: 100%;
    max-height: 100vh;
}

@include breakpoint(sm) { h1 { color: red;}}