@use './../abstracts' as *;

::placeholder {
  color: gray;
}

div {
  position: relative;
  &.shorten {
    width: 300px;
    @include text-shorten(3);
  }
}

.image {
  max-width: 100%;
  max-height: 100vh;
}

@include breakpoint(sm) {
  h1 {
    color: $color-primary;
  }
}
