@use './../abstracts' as *;

.shadowContainer {
  background-color: #ff7777;
  padding: 20px;
}
.shadow {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
}

@each $name, $properties in $shadow-shadows {
  .shadow-#{$name} {
    @include dynamicShadow($name, hsl(71, 100%, 64%));
  }
}
