// Animations
$transition-base: all 0.15s ease !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

$transition-duration-short: 0.15s !default;
$transition-duration-base: 0.35s !default;
$transition-duration-long: 0.55s !default;
