// Animations
$transition-base:             all .15s ease !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$transition-duration-short:   .15s!default;
$transition-duration-base:    .35s!default;
$transition-duration-long:    .55s!default;