@use './colors' as color;

$border-width:                1px !default;
$border-color:                color.$gray-200 !default;

$border-radius-sm:            .25rem !default;
$border-radius:               .375rem !default;
$border-radius-lg:            .5rem !default;

$box-shadow-sm:               0 0 .5rem rgba(color.$gray-500, .075) !default;
$box-shadow:                  0 0 2rem 0 rgba(color.$gray-500, .15) !default;
$box-shadow-lg:               0 0 3rem rgba(color.$gray-500, .175) !default;