// Background

$bg-color: #f8f9fe;

// Color system

$white: #fff;
$gray-100: #f6f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8898aa;
$gray-700: #525f7f;
$gray-800: #32325d;
$gray-900: #212529;
$black: #000;

$grays: ();
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  $grays
);

$blue: #5e72e4 !default;
$indigo: #5603ad !default;
$purple: #8965e0 !default;
$pink: #f3a4b5 !default;
$red: #db1a3e !default;
$orange: #ffbb29 !default;
$yellow: #ffd600 !default;
$green: #8ec770 !default;
$teal: #11cdef !default;
$cyan: #2bffc6 !default;

$colors: () !default;
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'light': $gray-400,
    'lighter': $gray-200,
    'gray-dark': $gray-800,
  ),
  $colors
);

// Theme colors
$themes: (
  default: (
    default: #172b4d,
    primary: #f7c109,
    primary-text: black,
    secondary: #0073d1,
    secondary-text: white,
    success: $green,
    info: $blue,
    warning: $orange,
    danger: $red,
  ),
  light: (
    default: #172b4d,
    primary: #c009f7,
    primary-text: black,
    secondary: #0073d1,
    secondary-text: white,
    success: $green,
    info: $blue,
    warning: $orange,
    danger: $red,
  ),
  dark: (
    default: #172b4d,
    primary: #f70909,
    primary-text: black,
    secondary: #0073d1,
    secondary-text: white,
    success: $green,
    info: $blue,
    warning: $orange,
    danger: $red,
  ),
);

$color--gray: #888888;
$color--blue: #3366ff;
$color--teal: #43e7f9;
$color--green: #5bd642;
$color--orange: #ffae18;
$color--red: #ff4732;

$colors: ();
$colors: map-merge(
  (
    'gray': $color--gray,
    'blue': $color--blue,
    'teal': $color--teal,
    'green': $color--green,
    'orange': $color--orange,
    'red': $color--red,
  ),
  $colors
);

$values: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$color--interval: 7.6%;

@function createPalette($color) {
  $palette: (
    100: lighten($color, $color--interval * 4),
    200: lighten($color, $color--interval * 3),
    300: lighten($color, $color--interval * 2),
    400: lighten($color, $color--interval),
    500: $color,
    600: darken($color, $color--interval),
    700: darken($color, $color--interval * 2),
    800: darken($color, $color--interval * 3),
    900: darken($color, $color--interval * 4),
  );
  @return $palette;
}

$palette--gray: createPalette(#888888);
$palette--blue: createPalette($color--blue);
$palette--teal: createPalette($color--teal);
$palette--green: createPalette($color--green);
$palette--orange: createPalette($color--orange);
$palette--red: createPalette($color--red);

$palettes: ();
$palettes: map-merge(
  (
    'gray': $palette--gray,
    'blue': $palette--blue,
    'teal': $palette--teal,
    'green': $palette--green,
    'orange': $palette--orange,
    'red': $palette--red,
  ),
  $palettes
);

@each $themeName, $variables in $themes {
  :root {
    @if $themeName == default {
      @each $key, $value in $variables {
        --#{$key}: #{$value};
      }
    } @else {
      &.#{$themeName}-theme {
        @each $key, $value in $variables {
          --#{$key}: #{$value};
        }
      }
    }
  }
}

$default: var(--default);
$primary: var(--primary);
$primary-text: var(--primary-text);
$secondary: var(--secondary);
$secondary-text: var(--secondary-text);
$success: var(--success);
$info: var(--info);
$warning: var(--warning);
$danger: var(--danger);
