/// Shorten text at a specific line number
///
/// @param {String} $numLines [1] - The line number you want to shorten text
///
/// @example textShorten mixin
///   @include text-shorten(3);
///

@mixin textShorten($numLines: 1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: $numLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}
