@use './../utilities' as *;

.alert {
  padding: 1rem;
  padding-right: 3rem;
  background-color: $color-primary;
  width: 80%;
  margin: 0.5rem auto;
  color: white;
  border-radius: 0.5rem;
  position: relative;
  &__button {
    transition: $transition-base;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 1rem;
    border: unset;
    background: unset;
    color: white;
    &:hover {
      color: black;
    }
  }
}
