@use './../utilities' as *;

.alert {
  padding: $spacing-md;
  padding-right: calc(3 * $spacing-md);
  background-color: $color-primary;
  width: 80%;
  margin: $spacing-sm auto;
  color: white;
  border-radius: $spacing-sm;
  position: relative;
  &__button {
    transition: $transition-base;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: $spacing-md;
    border: unset;
    background: unset;
    color: white;
    &:hover {
      color: black;
    }
  }
}
