@use './../abstracts' as *;
header {
  @include dynamicShadow();
}

.menu {
  background-color: white;
  display: flex;
  margin: 0;
  padding: $spacing-lg;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    &--active {
      color: map-get($color-palettePrimary, 300);
    }
  }
}
