@use './../abstracts' as *;
header {
  @include dynamicShadow();
}

.menu {
  display: flex;
  margin: 0;
  padding: $spacing-lg;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    &--active {
      color: $color-primary;
    }
  }
}
